<% include ../partials/header.ejs %>

<h1>Cadastro Pessoa</h1>
<p><a href="/pessoas" type="button" class="btn btn-default">Voltar a lista de pessoas</a></p>
    <form method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu Nome">
        </div>
        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Seu cargo">
        </div>
        <div class="form-group">
            <label for="nascimento">Nascimento</label>
            <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Data nascimento">
        </div>
        <button type="submit" class="btn btn-default">Salvar</button>
    </form>

<% include ../partials/footer.ejs %>