<% include ../partials/header.ejs %>

<h1>Lista Pessoas</h1>
<p><a href="/pessoas/create" type="button" class="btn btn-default">Nova Pessoa</a></p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    <% pessoas.map( pessoa => { %>
    <tr>
        <td><%= pessoa.nome %></td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-default" href="/pessoas/edit/<%= pessoa.id %>">Editar</a>
                <a type="button" class="btn btn-default" href="/pessoas/delete/<%= pessoa.id %>" onclick="return confirm('Deseja realmente excluir')">Excluir</a>
            </div>
        </td>
    </tr>
    <% }) %>
</table>

<% include ../partials/footer.ejs %>