<% include partials/header.ejs %>

      <div class="starter-template">
        <h1>CRUD ORM</h1>
        <p class="lead">CRUD utilizando ORM sequelize.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

<% include partials/footer.ejs %>
